@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
* {
  transition: 0.6s ease-in-out;
  margin: 0;
  padding: 0;
}
* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Quicksand, "苹方-港", serif;
  background-color: #f7f7f7;
}
* body #area {
  padding: 1vw;
  box-shadow: inset rgba(0, 0, 0, 0.12) 3px 3px 6px, inset rgba(0, 0, 0, 0.12) -3px -3px 6px;
  background-color: #FFF;
  border-radius: 1vw;
}
* body #area .title {
  display: block;
  width: 15vw;
  text-align: center;
  padding: 0;
  margin: 0 auto 1vw;
  font-size: 2.4vw;
  background: linear-gradient(149deg, #6f18ff 15%, #ff7d47 50%, #ff478d 82%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
* body #area .shell {
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  width: 78vw;
  height: 16vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.12), -3px -3px 6px rgba(0, 0, 0, 0.12);
  border-radius: 0.8vw;
  left: 50%;
  transform: translateX(-50%);
}
* body #area .shell .tileContainer {
  width: 78vw;
  height: 16vw;
  display: grid;
  grid-template-columns: 13vw 13vw 13vw 13vw 13vw 13vw;
  grid-template-rows: 8vw 8vw;
  overflow: auto;
  scrollbar-width: none;
  position: absolute;
  left: 0;
  top: 0;
}
* body #area .shell .tileContainer .tileBox {
  width: 13vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body #area .shell .tileContainer .tile {
  width: 8.5vw;
  height: 6vw;
  padding: 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #202028;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-word;
  border-radius: 0.6vw;
  font-size: 1.12vw;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
* body #area .shell .tileContainer .tile:hover {
  transform: scale(1.1);
}
* body #area .shell .tileContainer .tile::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  border-radius: 0.6vw;
  left: 50%;
  transform: translateX(-50%);
}
* body #area .shell .tileContainer .tile:hover::after {
  opacity: 1;
}
* body #area .shell .tileContainer .tile:active {
  transform: scale(0.9);
}
* body #area .shell .tileContainer::-webkit-scrollbar {
  display: none;
}
* body #area .shell .tileContainer:nth-of-type(2) {
  left: 100%;
}
* body #area .shell .tileContainer:nth-of-type(3) {
  left: 200%;
}
* body #area .shell .tileContainer:nth-of-type(4) {
  left: 300%;
}
* body #area .shell .tileContainer:nth-of-type(5) {
  left: 400%;
}
* body #area .shell .tileContainer:nth-of-type(6) {
  left: 500%;
}
* body #area .shell .tileContainer:nth-of-type(7) {
  left: 600%;
}
* body #area .shell .tileContainer:nth-of-type(8) {
  left: 700%;
}
* body #area .shell .tileContainer:nth-of-type(9) {
  left: 800%;
}
* body #area input[type="radio"] {
  display: none;
}
* body #area .tileContainerSelect {
  display: flex;
  justify-content: center;
  margin: 1vw 0 0;
}
* body #area .tileContainerSelect label {
  font-size: 1.12vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5vh;
  width: 6.6vw;
  margin: 0 1vw;
  border-radius: 0.5vw;
  background-color: #E5EDF5;
  color: #516D91;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
* body #area .tileContainerSelect label::before {
  content: '';
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  background-color: #516D91;
  display: block;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
* body #area #CU:checked ~ .tileContainerSelect label:nth-of-type(1) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #CU:checked ~ .tileContainerSelect label:nth-of-type(1)::before {
  width: 100%;
}
* body #area #video:checked ~ .tileContainerSelect label:nth-of-type(2) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #video:checked ~ .tileContainerSelect label:nth-of-type(2)::before {
  width: 100%;
}
* body #area #learn:checked ~ .tileContainerSelect label:nth-of-type(3) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #learn:checked ~ .tileContainerSelect label:nth-of-type(3)::before {
  width: 100%;
}
* body #area #tools:checked ~ .tileContainerSelect label:nth-of-type(4) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #tools:checked ~ .tileContainerSelect label:nth-of-type(4)::before {
  width: 100%;
}
* body #area #webTools:checked ~ .tileContainerSelect label:nth-of-type(5) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #webTools:checked ~ .tileContainerSelect label:nth-of-type(5)::before {
  width: 100%;
}
* body #area #theme:checked ~ .tileContainerSelect label:nth-of-type(6) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #theme:checked ~ .tileContainerSelect label:nth-of-type(6)::before {
  width: 100%;
}
* body #area #picSource:checked ~ .tileContainerSelect label:nth-of-type(7) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #picSource:checked ~ .tileContainerSelect label:nth-of-type(7)::before {
  width: 100%;
}
* body #area #resources:checked ~ .tileContainerSelect label:nth-of-type(8) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #resources:checked ~ .tileContainerSelect label:nth-of-type(8)::before {
  width: 100%;
}
* body #area #game:checked ~ .tileContainerSelect label:nth-of-type(9) {
  border-radius: 1.5vw;
  transform: scale(0.9);
  color: #E5EDF5;
}
* body #area #game:checked ~ .tileContainerSelect label:nth-of-type(9)::before {
  width: 100%;
}
* body #area #CU:checked ~ .shell .tileContainer {
  transform: translateX(0);
}
* body #area #video:checked ~ .shell .tileContainer {
  transform: translateX(-100%);
}
* body #area #learn:checked ~ .shell .tileContainer {
  transform: translateX(-200%);
}
* body #area #tools:checked ~ .shell .tileContainer {
  transform: translateX(-300%);
}
* body #area #webTools:checked ~ .shell .tileContainer {
  transform: translateX(-400%);
}
* body #area #theme:checked ~ .shell .tileContainer {
  transform: translateX(-500%);
}
* body #area #picSource:checked ~ .shell .tileContainer {
  transform: translateX(-600%);
}
* body #area #resources:checked ~ .shell .tileContainer {
  transform: translateX(-700%);
}
* body #area #game:checked ~ .shell .tileContainer {
  transform: translateX(-800%);
}
@media (prefers-color-scheme: dark) {
  * body {
    background-color: #1e1e2d;
  }
  * body #area {
    background-color: #21212f;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.18) inset, 0 2px 4px rgba(255, 255, 255, 0.18) inset, 0 4px 6px rgba(255, 255, 255, 0.18) inset, 0 -1px 2px rgba(255, 255, 255, 0.18) inset, 0 -2px 4px rgba(255, 255, 255, 0.18) inset, 0 -4px 6px rgba(255, 255, 255, 0.18) inset;
  }
  * body #area .shell {
    background-color: #1d1d2a;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.18), 0 2px 4px rgba(255, 255, 255, 0.18), 0 4px 6px rgba(255, 255, 255, 0.18), 0 -1px 2px rgba(255, 255, 255, 0.18), 0 -2px 4px rgba(255, 255, 255, 0.18), 0 -4px 6px rgba(255, 255, 255, 0.18);
  }
  * body #area .shell .tileContainer .tile {
    background-color: #0F0F1F;
    color: #F7F7F7;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3);
  }
  * body #area .shell .tileContainer .tile:after {
    box-shadow: 0 5px 9px rgba(255, 255, 255, 0.6);
  }
  * body #area .tileContainerSelect label {
    background-color: #15151d;
    color: #6361D9;
  }
  * body #area .tileContainerSelect label::before {
    background-color: #6361D9;
  }
  * body #area #CU:checked ~ .tileContainerSelect label:nth-of-type(1) {
    color: #15151d;
  }
  * body #area #video:checked ~ .tileContainerSelect label:nth-of-type(2) {
    color: #15151d;
  }
  * body #area #learn:checked ~ .tileContainerSelect label:nth-of-type(3) {
    color: #15151d;
  }
  * body #area #tools:checked ~ .tileContainerSelect label:nth-of-type(4) {
    color: #15151d;
  }
  * body #area #webTools:checked ~ .tileContainerSelect label:nth-of-type(5) {
    color: #15151d;
  }
  * body #area #theme:checked ~ .tileContainerSelect label:nth-of-type(6) {
    color: #15151d;
  }
  * body #area #picSource:checked ~ .tileContainerSelect label:nth-of-type(7) {
    color: #15151d;
  }
  * body #area #resources:checked ~ .tileContainerSelect label:nth-of-type(8) {
    color: #15151d;
  }
  * body #area #game:checked ~ .tileContainerSelect label:nth-of-type(9) {
    color: #15151d;
  }
}
